@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 60px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.home-title {
    font-family:'Oswald, YoungSerif';
    font-size: 2em;
    margin-top: 10px;
}

body {
    font-family:'Oswald';
    font-size: 22px;
    background-color: #A3B18A;
    margin: 0;
    padding: 0;
}

div #content {
max-width: 1600px;  /* HERE THE WIDTH*/
margin:auto
}

header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}


nav{
    display: flex;
    justify-content: space-around;
}


nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #A3B18A;
    color: #3A5A40;
}

.home-title {
    color: white;
}

.book, .join {
    background-color:#3A5A40;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.home {
    background-color:#3A5A40;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 150px;;
    border-radius: 5px;
    grid-column: 5/6;
    grid-row: 8/9;
    width: 100%;
}



.book:hover, .join:hover, .home {
    background-color: #588157;
    color:white;
}

#background {
    
    background-color: #A3B18A;

}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}


#hero-msg {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 100px;
}


#hero-msg h1 {
    text-align: center;
}



#hero-msg h4 {
    text-align: center;
    color: white;

}

.button-box {
    text-align: center;
}


main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    border: 10px solid white;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px gray;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}



main section {
    text-align: center;
    color: white;
}

.security-card {
    
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 300px;
    
}

.include-card {
    grid-column: 2/4;
    grid-row: 4/5;
    margin-top: 100px;

}

.comemoration-card {
    grid-column: 2/4;
    grid-row: 6/7;
    margin-top: 100px;

}
.rivers-card { 
    grid-column: 2/4;
    grid-row: 2/3;  
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px gray;
}


div #background {
    background-color: #588157;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

div #FAQ-background {
    background-color: #588157;
    grid-column: 1/12;
    grid-row: 2/3;
    margin-top: 250px;
    margin-bottom: -40px;
    margin-left: 15px;
    margin-right: 15px;
    
    
}

div #FAQ-background2 {
    background-color: #588157;
    grid-column: 1/12;
    grid-row: 4/5;
    margin-top: 50px;
    margin-bottom: -40px;
    margin-left: 15px;
    margin-right: 15px;
    
}

div #FAQ-background3 {
    background-color: #588157;
    grid-column: 1/12;
    grid-row: 6/7;
    margin-top: 50px;
    margin-bottom: -40px;
    margin-left: 15px;
    margin-right: 15px;
}

.msg {
    background-color: #3A5A40;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px gray;
}

.FAQ-msg1 {
    text-align: left;
    grid-column: 5/11;
    grid-row: 2/3;
    margin-top: 250px;
    margin-bottom: -40px;
    margin-right: 30px;
    
}

.FAQ-msg2 {
    text-align: left;
    grid-column: 5/11;
    grid-row: 4/5;
    margin-top: 50px;
    margin-bottom: -40px;
    margin-right: 30px;
    
}

.FAQ-msg3 {
    text-align: left;
    grid-column: 5/11;
    grid-row: 6/7;
    margin-top: 50px;
    margin-bottom: -40px;
    margin-right: 30px;
    
}


.msg h2 { 
    color: white;
    margin: 0;
}

.msg p {
    color:white;
    font-size: .8em;
    padding-bottom: 15px;
}

.msg a {
    background-color: #A3B18A;
    color: whitesmoke;
}

.msg a:hover {
    background-color: #588157;
    color: white;
}

footer {
    background-color: #3A5A40;
    color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color:white
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card, .security-card, .include-card, .comemoration-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }

    div #FAQ-background {
        background-color: #588157;
        margin: 30px;
        
        
    }
    
    div #FAQ-background2 {
        background-color: #588157;
        margin: 30px;
        
    }
    
    div #FAQ-background3 {
        background-color: #588157;
        margin: 30px;
    }

    .FAQ-msg1 {
        text-align: left;
        margin: 30px;
        
    }
    
    .FAQ-msg2 {
        text-align: left;
        margin: 30px;
        
    }
    
    .FAQ-msg3 {
        text-align: left;
        margin: 30px;
        
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}